/* FONTS Starts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@500&display=swap');
/* FONT ENDS  */

/* COMMON STYLES STARTS*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    font-weight: bold;
    font-size: 52px;
}
/* COMMON STYLE ENDS  */
#main-title{
    font-weight: bold;
    font-size: 24px;
}
/* HEADER STYLES */
header{
    margin: 100px;
}
/* JOURNEY SECTION STYLE STARTS  */
.top-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5em;
    width: 1300px;
    /* height: 500px; */
}
.journey-starts{
    width: 582px;
    /* height: 270px;  */
}
.main-photo img{
    background-image: url(images/circle.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 440px;
    /* height: 414px; */
}
.link-button{
    text-decoration: none;
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
/* TOP SECTION STYLE ENDS  */

/* SHOPPING SITES STYLES STARTS  */
.shopping-sites{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px 60px;
    margin-top: 100px;
    width: 1200px;
    /* height: 40px; */
    margin-bottom: 100px;
}
.logos{
    width: 100px;
    height: 40px;
    margin-left: 60px;
}
/* SHOPPING SITES STYLES ENDS  */

/* POPULAR COLLECTION STYLE STARTS  */
.popular-products{
    /* height: 1980px; */
    width: 100%;
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.popular-products h1{
    text-align: center;
    margin-bottom: 30px;
}
.products{
    width: 1000px;
    padding: 30px;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3,1fr);
    border-radius: 20px;
}
.product{
    box-shadow: 10px 10px 40px grey;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star.empty{
    color: gray;
}
.see-more{
    text-decoration: none;
    font-size: 20px;
    width: 99px;
    /* height: 24px; */
    color: #E02C6D;
    text-align: right;
}
/* POPULAR COLLECTION STYLE ENDS */

/* LOGIN SECTION STYLE STARTS  */
.final-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 10px 10px 40px grey;
    width: 1000px;
    padding: 100px;
    row-gap: 10em;
    margin: 0px 100px;
    border-radius: 30px;
}
.lets-begin img{
    width: 80%;
    border-radius: 20px;
}
.form-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-form input,
button {
    font-size: 1.3em;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.login-form button {
    background-color: black;
    color: darkgray;
    font-weight: 800;

}
/* FOOTER STYLES */
footer{
    color: whitesmoke;
    text-align: center;
    /* height: 239px; */
    background-color: #0A0826;
    margin: 0px;
    font-size: 18px;
    padding: 10px;
}
footer>p>a{
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
    font-size: 20px;
}


/*---------------
 Media Querries 
 -----------------*/
/* Mobile-device */
@media only screen and (max-width:688px) {
    .header,.journey-starts,.main-photo,.final-section,.container,.shopping-sites,.popular-products,.shopping-sites{
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .top-section{
        width: 100%;
        padding: 10px;
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
    .popular-products{
        width: 100%;
    }
    .products{
        grid-template-columns: 1fr;
    }
    .final-section{
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 1em;
        margin: 0;
        padding: 10px;
    }
}
/* Tablet Devices */
@media only screen and (min-width:689px) and (max-width:992px){
    .header,.journey-starts,.main-photo,.final-section,.container,.shopping-sites,.popular-products,.shopping-sites{
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .top-section{
        width: 100%;
        padding: 10px;
        grid-template-columns: 1fr ;
        column-gap: 0px;
    }
    .popular-products{
        width: 100%;
    }
    .products{
        grid-template-columns: 1fr 1fr;
    }
    .final-section{
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 1em;
        margin: 0;
        padding: 10px;
    }
}